.listGrid {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;     
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1368px;
    width: 100%; 
    max-height: 744px;
    height: 100%;
    gap: 56px;          
}