.listGrid {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;     
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1368px;
    width: 100%; 
    max-height: 744px;
    height: 100%;
    gap: 56px;          
}

@media (min-width:320px) and (max-width:426px) {
    .listGrid {
        display: flex;         
        flex-wrap: nowrap;        
        max-width: 620px;                
        margin: 0 10px;
        overflow-y: hidden;             
    }
}