@import "../../../styles/index.scss";


.listGrid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 484px;
    width: 100%;
    height: 100%;     
    padding-left: 10px;    

    .itemGrid {
        display: flex;
        max-width: 27.4569rem;
        width: 100%;
        height: 80px;
        margin-top: 5px;
        margin-bottom: 10px;        

        .buttonDeleteItenCart {
            display: flex;            
            background-color: transparent ;
            color:  rgba(189, 189, 189, 1);   
            align-items: center;    
            border: none;
        }        
    }

    .cartItens {
        display: flex;
        width: 27.4569rem;
        height: 80px;
        align-items: center;
        gap: 14px;

        p{
            margin-top: 5px;
            color: var(--color-primary);
            font-size: 14px;   
            font-weight: 600;
        }

        .imgCart {
            width: 82.23px;
            height: 80px;
            background-color: var(--color-grey-100);
            margin: 0 auto;
            border-radius: 5px;

            img {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
                object-position: center;
                margin: 0 auto;                
            }
        }        
    }
}

@media (min-width:320px) and (max-width:426px) {  
    
    
}