.mainGrid{
    display: flex;
    flex-direction: row;     
    margin: 0 auto;
    max-width: 85.5rem;
    width: 100vw;
    height: 100vh;
    gap: 10px;          
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Overlay semi-transparente
    z-index: 10; // Garanta que o overlay esteja abaixo do modal, mas acima de outros conteúdos
}

// Adicione o estilo necessário para o CartModal para que ele apareça acima do overlay
.cartModal {
    position: fixed;
    top: 50%;
    left: 50%;
}